<% layout("/Layouts/boilerplate") %>
<body>
  <h2 style="text-align: center"><%=listing.title%></h2>
  <div class="card" style="width: 60%; margin: 0 auto">
    <img
      src="<%=listing.image.url%>"
      class="card-img-top"
      alt="listing-image"
    />
    <div class="card-body">
      <p><b>Owner: </b><i><%=listing.owner.username%></i></p>
      <p class="card-text"><%=listing.description%></p>
      <b
        ><p class="card-text">
          &#8377;<%= (listing.price || 0).toLocaleString("en-IN") %>
        </p></b
      >
      <p class="card-text">
        <%=listing.location%>, &nbsp; <%=listing.country%>
      </p>

      <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
      <div class="show-btn mb-4">
        <a href="/listings/<%=listing._id%>/edit" class="btn btn-primary"
          >Edit
        </a>
        <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
          <button class="btn btn-dark">Delete</button>
        </form>
      </div>
      <% } %>
      <hr />
      <div class="mb-3">
        <% if(currUser) { %>
        <form
          action="/listings/<%=listing._id%>/review"
          method="POST"
          class="needs-validation"
          novalidate
        >
          <h3>Leave a Review</h3>
          <div class="mb-3">
            <label for="rating" class="form-label">Rating</label>
            <fieldset class="starability-slot">
              <input
                type="radio"
                id="rating"
                class="input-no-rate"
                name="review[rating]"
                value="1"
                checked
                aria-label="No rating."
              />
              <input
                type="radio"
                id="first-rate1"
                name="review[rating]"
                value="1"
              />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input
                type="radio"
                id="first-rate2"
                name="review[rating]"
                value="2"
              />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input
                type="radio"
                id="first-rate3"
                name="review[rating]"
                value="3"
              />
              <label for="first-rate3" title="Average">3 stars</label>
              <input
                type="radio"
                id="first-rate4"
                name="review[rating]"
                value="4"
              />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input
                type="radio"
                id="first-rate5"
                name="review[rating]"
                value="5"
              />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea
              class="form-control"
              id="comment"
              rows="3"
              name="review[comment]"
              placeholder="Write your comment here..."
              required
            ></textarea>
            <div class="invalid-feedback">Please write comment first!</div>
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
        <hr />
        <% } %>
        <div class="container my-4">
          <h4 class="mb-4">All Reviews</h4>
          <div class="row">
            <% for (let review of listing.reviews) { %>
            <div class="col-md-6 mb-4">
              <div class="card shadow-sm">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                    <img
                      src="https://as1.ftcdn.net/v2/jpg/09/07/72/20/1000_F_907722005_qxa0POHWm3m76SUeXvgEAK8mLRJkyrrZ.jpg"
                      alt="User"
                      class="rounded-circle me-3"
                      style="width: 50px; height: 50px"
                    />
                    <div>
                      <h6 class="mb-0">@<%=review.author.username%></h6>
                    </div>
                  </div>
                  <p class="text-muted">
                    <small><b>Comments:</b> <%= review.comment %></small>
                  </p>
                  <p
                    class="starability-result"
                    data-rating="<%= review.rating %>"
                  ></p>
                  <form
                    method="POST"
                    action="/listings/<%=listing._id%>/review/<%=review._id%>?_method=DELETE "
                  >
                    <button class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
